[user]
pinned=/usr/share/applications/xfce-settings-manager.desktop;/usr/share/applications/com.gexperts.Tilix.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/kitty.desktop;/usr/share/applications/org.gnome.Meld.desktop;/usr/share/applications/sublime_text.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;
